* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1450px;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/Roboto-Bold.woff') format('woff2'),
        url('./fonts/Roboto-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto-Light.woff') format('woff2'),
        url('./fonts/Roboto-Light.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./fonts/Roboto-Medium.woff') format('woff2'),
        url('./fonts/Roboto-Medium.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./fonts/Roboto-Regular.woff') format('woff2'),
        url('./fonts/Roboto-Regular.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


header { 
    padding: 10px 0 25px ;  
    border-bottom: 1px solid #DDDDDD;
}

header .top { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header .top .left {
    width: 25%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .top .left h2:hover { 
    cursor: pointer;
}

header .top .left h1 a { 
    display: block;
    width: 35px;
}


header .top .left h1 a img { 
    display: block;
    width: 100%;
}

header .top .left h2 { 
    font-size: 28px;
    color: #ff0000;
    font-family: 'Roboto-Bold';
    margin-left: 5px;

}

header .top .middle { 
    width: 30%;
}

header .top .middle nav { 

}

header .top .middle nav ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top .middle nav ul li { 
    color: #1C2C40;
    padding: 10px;
    border-radius: 50px;
}
header .top .middle nav li:nth-child(1){
    font-family: 'Roboto-Medium';
    color: #000;
}
header .top .middle nav ul li a { 
    font-size: 16px;
    
}
header .top .middle nav ul li:hover{
    background-color: #b0b0b01c;
}


header .top .right { 
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


header .top .right  a { 
    font-size: 15px;
    font-family: 'Roboto-medium';
    padding:15px;
    border-radius: 50px;
}

header .top .right  a:hover{ 
    background-color: #b0b0b01c;

}

header .top .right button.globe { 
    padding: 15px;
    border-radius: 45px;
    width: 48px;
}

header .top .right button.globe:hover { 
    background-color: #b0b0b01c;
    cursor: pointer;
}

header .top .right button.globe img { 
    display: block;
    width: 100%;
}

header .top .right .profile { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid #DDDDDD;
    
}
header .top .right .profile:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    cursor: pointer;
}
header .top .right .profile button { 
    width: 20px;
    margin-left: 10px;
}

header .top .right .profile button img { 
    display: block;
    width: 100%;
}
header .top .right .profile  button.profile_icon{
    width: 35px;
}
header .top .right .profile  button.profile_icon img { 
    display: block;
    width: 100%;
    filter: invert(45%);
}

header .profile_popup { 
    width: 20%;
    border-radius: 15px;
    box-shadow: 0 0px 27px rgba(0,0,0,0.18);
    height: 200px;
    padding: 6px 0;
    position: absolute;
    right: 76px;
    top: 85px;
    opacity: 1;
    z-index: 100;
    background-color: #fff;
    display: none;
}

header .profile_popup .sign_up { 
    display: block;
    font-size: 16px;
    padding: 12px 20px;
    width: 100%;
    text-align: left;
}
header .profile_popup .sign_up:hover{
    background-color: #b0b0b01c;
}
header .profile_popup .log_in { 
    display: block;
    font-size: 16px;
    padding: 12px 20px;
    width: 100%;
    text-align: left;
}
header .profile_popup .log_in:hover{
    background-color: #b0b0b01c;
}
header .profile_popup hr {
    border: 1px solid #DDDDDD;
    margin: 6px 0;
}
header .profile_popup a { 
    display: block;
    padding: 12px 20px ;
    font-size: 16px;
}
header .profile_popup a:hover{
    background-color: #b0b0b01c;
}
header .bottom { 
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #DDDDDD;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);

}

header .bottom .search_input { 
    width: 34%;
    padding: 15px 0 15px 30px;
    border-right: 1px solid #DDDDDD;
}
header .bottom .search_input:hover{
    background-color:#3838381a;
    border-radius: 50px;
    cursor: pointer;
}

header .bottom .search_input label { 
    display: block;
    font-size: 14px;
    font-family: 'Roboto-Medium';
}

header .bottom .search_input input { 
    font-size: 14px;
}


header .bottom .date_picker1 { 
    width: 19%;
    padding: 15px 0 15px 30px;
    border-right: 1px solid #DDDDDD;
    
}
header .bottom .date_picker1:hover{
    background-color: #3838381a;
    border-radius: 50px;
}
header .bottom .date_picker1 label { 
    display: block;
    font-size: 14px;
    font-family: 'Roboto-Medium';
}
header .bottom .date_picker1 input { 
    font-size: 14px;
}

header .bottom .date_picker2 { 
    width: 19%;
    padding: 15px 0 15px 30px;
    border-right: 1px solid #DDDDDD;
    
}
header .bottom .date_picker2:hover{
    background-color: #3838381a;
    border-radius: 50px;
}
header .bottom .date_picker2 label { 
    display: block;
    font-size: 14px;
    font-family: 'Roboto-Medium';
}
header .bottom .date_picker2 input { 
    font-size: 14px;
}


header .bottom .guest { 
    width: 35%;
    padding: 8px 6px 8px 30px;
    
}
header .bottom .guest:hover{
    background-color: #3838381a;
    border-radius: 50px;
}
header .bottom .guest button { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .bottom .guest button .left { 

}

header .bottom .guest button .left h4 { 
    text-align: left;
    font-size: 14px;
    font-family: 'Roboto-Medium';
}

header .bottom .guest button .left p { 
    font-size: 14px;
    
}

header .bottom .guest button .search { 

}

header .bottom .guest button .search .search_icon { 
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ff385c;
}

header .bottom .guest button .search .search_icon img { 
    display: block;
    width: 100%;
    filter: invert(100%);
}


#middle { 
    padding: 20px 0;
    
}
#middle .middle_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#middle .middle_container .category { 
    width: 70%;
    overflow: hidden;
    position: relative;
}
#middle .middle_container .category .img_left{
    position: absolute;
    top: 20px;
    border:  1px solid #6a6a6a;
    padding: 7px;
    border-radius: 50px;
    width: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    z-index: 100;
    background-color: #fff;
}
#middle .middle_container .category .img_left img{
    display: block;
    width: 100%;
}
#middle .middle_container .category .img_right{
    position: absolute;
    top: 20px;
    right: 0;
    border:  1px solid #6a6a6a;
    padding: 7px;
    border-radius: 50px;
    width: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    z-index: 100;
    background-color: #fff;
}
#middle .middle_container .category .img_right img{
    display: block;
    width: 100%;
}
#middle .middle_container .category .owl-carousel { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#middle .middle_container .category .owl-carousel .slider_box { 
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#middle .middle_container .category .owl-carousel .slider_box:hover{
    border-bottom: 3px solid #DDDDDD;  
}

#middle .middle_container .category .owl-carousel .slider_box a { 
    display: block;
}

#middle .middle_container .category .owl-carousel .slider_box a .icon { 
    width: 30px;
    margin: 0 auto;
}

#middle .middle_container .category .owl-carousel .slider_box a .icon img { 
    display: block;
    width: 100%;
    filter: invert(40%);
}
#middle .middle_container .category .owl-carousel .slider_box a .icon img:hover { 
    filter: none;
}
#middle .middle_container .category .owl-carousel .slider_box a h3 { 
    font-size: 15px;
    font-family: 'Roboto-Medium';
    color: #6a6a6a;
    margin-top: 8px;
}
#middle .middle_container .category .owl-carousel .slider_box a h3:hover{
    color: #000;
    
}
#middle .middle_container  .filter { 
    width: 8%;
    border: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

#middle .middle_container  .filter .filter_icon { 
    width: 20px;
}

#middle .middle_container  .filter .filter_icon img { 
    display: block;
    width: 100%;
}

#middle .middle_container  .filter h5 { 
    font-size: 15px;
    font-family: 'Roboto-Medium';
}

#middle .middle_container  .toggle { 
    width: 19%;
    border:  1px solid #DDDDDD ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
}

#middle .middle_container  .toggle h5 { 
    font-size: 15px;
    font-family: 'Roboto-Medium';
}
#middle .middle_container  .toggle .toggle_container{
    height: 24px ;
    width: 45px;
    background-color: #6a6a6a;
    border-radius: 50px;
}

#middle .middle_container  .toggle .toggle_container .toggle_button{
    height: 27px;
    width: 27px;
    border-radius: 50px;
    border: 1px solid #6a6a6a;
    background-color: #fff;
    position: relative;
    top: -1px;    
}
#middle .middle_container  .toggle .toggle_container .toggle_button.active{
    margin-left: 20px;
    transition: 0.5s;
    background-image: url(../assets/tick.svg) ;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;

}
#middle .middle_container  .toggle .toggle_container .toggle_button img{
    width: 10px;  
}

#middle .middle_container  .toggle .toggle_container .toggle_button:hover{
    cursor: pointer;
}
#middle .middle_container  .toggle .container.activte .toggle_button{
    margin-left: 20px;
    
}
#middle .middle_container  .toggle .container .toggle_container{ 
   
}
#middle .middle_container  .toggle .container .toggle_container .toggle_button { 
        background-color: #fff;
        padding: 14px;
        border-radius: 50px;
        border: 1px solid #6a6a6a;
        position: absolute;
        top: -1px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

#spotlight{ 

}

#spotlight .sport_light_container {
    display: flex;
    justify-content: space-between;
}

#spotlight .sport_light_container .places { 
    width: 24%;
    position: relative;
    
}

#spotlight .sport_light_container .places .image_left {
    position: absolute;
    top: 150px;
    left: 9px;
    padding: 12px;
    border-radius: 50px;
    z-index: 100;
    width: 35px;
    background-color: #DDDDDD;
}
#spotlight .sport_light_container .places .image_left img{
    display: block;
    width: 100%;
}
#spotlight .sport_light_container .places .image_left,.image_right:hover{
    cursor: pointer;
}
#spotlight .sport_light_container .places .image_right {
    position: absolute;
    top: 150px;
    right: 9px;
    padding: 12px;
    border-radius: 50px;
    z-index: 100;
    width: 35px;
    background-color: #DDDDDD;
    
}
#spotlight .sport_light_container .places .image_right img {
    display: block;
    width: 100%;
}

#spotlight .sport_light_container .places .image { 
    width: 100%;
    
}
#spotlight .sport_light_container .places .gallary {
    
}
#spotlight .sport_light_container .places .gallary .image img { 
    display: block;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1;
    object-fit: cover;
}

#spotlight .sport_light_container .places .bottom { 
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    
    
}

#spotlight .sport_light_container .places .bottom .left { 
    width: 85%;
}

#spotlight .sport_light_container .places .bottom .left h2 { 
    font-size: 15px;
    font-family: 'Roboto-Medium';
}

#spotlight .sport_light_container .places .bottom .left p { 
    font-size: 16px;
    font-family: 'Roboto-Light';
    margin-top: 5px;
}
#spotlight .sport_light_container .places .bottom .left h3 { 
    font-size: 16px;
    font-family: 'Roboto-Light';
    margin-bottom: 5px;
}

#spotlight .sport_light_container .places .bottom .left .price { 
    
}

#spotlight .sport_light_container .places .bottom .left .price h4  { 
    display: inline-block;
    text-decoration: underline;
}

#spotlight .sport_light_container .places .bottom .left .price h5 { 
    display: inline-block;
    text-decoration: underline;
}

#spotlight .sport_light_container .places .bottom .right { 
    width: 17%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#spotlight .sport_light_container .places .bottom .right .star_icon { 
    width: 15px;
}

#spotlight .sport_light_container .places .bottom .right .star_icon img{
    display: block;
    width: 100%;
}

#spotlight .sport_light_container .places .bottom .right  h5 { 
    font-size: 15px;
    font-family: 'Roboto-Light';
}

#spotlight .sport_light_container .places .favorite { 
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    position: absolute;
    top: 13px;

}

#spotlight .sport_light_container .places .favorite button.guest_favourite { 
    font-size: 16px; 
    font-family: 'Roboto-Medium';
    padding: 6px 10px;
    background-color: #fff;
    border-radius: 50px;

}

#spotlight .sport_light_container .places .favorite button:hover { 
    cursor: pointer;
}
#spotlight .sport_light_container .places .favorite .favorite_icon { 
    
    margin-left: 155px;
}

#spotlight .sport_light_container .places .favorite .favorite_icon .fa-solid.fa-heart { 
    font-size: 20px;
    z-index: 100;
    color: gray;
}
#spotlight .sport_light_container .places .favorite .favorite_icon img:hover { 
    cursor: pointer;
}
